[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "libraries/zstd"]
	path = libraries/zstd
	url = https://github.com/mikex86/zstd
[submodule "libraries/tinygltf"]
	path = libraries/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb
